---
import EmailButton from "../EmailButton";
---

<main aria-labelledby="header" class="relative overflow-hidden" id="about">
  <h2 class="sr-only" id="header">Header</h2>
  <div
    class="md:grid md:grid-cols-2 mx-auto px-8 max-w-7xl py-8 lg:py-24 lg:px-36 md:px-12"
  >
    <div>
      <div class="text-4xl font-bold tracking-tight text-negroni-500 mb-3">
        About
      </div>
      <div class="text-negroni-400 max-w-prose">
        Joseph Martinez is a communication consultant, workshop facilitator, and
        full-stack software engineer. He specializes in empathetic and
        Nonviolent Communication (NVC) and has been providing workshops and
        developing learning materials in this area since 2015. Joseph's approach
        is best suited for companies, teams, and individuals looking for a fresh
        and innovative approach to personal and leadership development. Joseph
        uses his technical skills as a full-stack software engineer to create
        unique and effective tools that he integrates into his workshops and
        training programs, providing his clients with a learning experience that
        is both engaging and transformative.
      </div>
    </div>

    <div class="flex flex-col align-middle items-center justify-center my-12">
      <button
        class="items-center justify-center rounded-full duration-200 border border-negroni-500 inline-flex px-6 py-3 text-center w-full max-w-[220px] text-negroni-500 font-medium lg:w-[220px] hover:border-2"
        >contact</button
      >
    </div>
  </div>
</main>

<!-- 
  <script>
    function copyToClipboard(text, button) {
      navigator.clipboard.writeText(text).then(
        function () {
          console.log("Text copied to clipboard");
          button.innerHTML = "email copied";
        },
        function () {
          console.log("Error copying text to clipboard");
        }
      );
    }
  </script> -->

<!-- 


    <div class="flex flex-col items-center text-negroni-300">
      <div class="text-md my-9 fonfont-semibold text-negroni-500">approach</div>

      <div class="grid grid-cols-3 gap-16">
        <div class="flex flex-col items-center">
          <div>open source</div>
          <div class="text-sm">
            All resources are free and open source. Coaches, trainers, leaders,
            anyone is free to use the material as they wish.
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div>respect users</div>
          <div class="text-sm">
            Tools built with deep respect for the user. Limit data collection.
            Respect privacy. Do not require account creation to use tools.
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div>original</div>
          <div class="text-sm">
            Fresh approach. No cliches and abstract concepts. No canned
            presentations. No BS. High expectations for real results.
          </div>
        </div>
      </div>

      <div class="mt-7">
        Please reach out if you have feedback or would like to collaborate:
      </div>
      <div>joseph.r.martinez@gmail.com</div> -->
