<main aria-labelledby="header" class="relative overflow-hidden" id="about">
  <h2 class="sr-only" id="header">Header</h2>
  <div
    class="grid grid-cols-2 mx-auto px-8 max-w-7xl py-8 lg:py-24 lg:px-36 md:px-12"
  >
    <div>
      <div class="text-4xl font-bold text-negroni-300">About</div>
      <div class="text-negroni-300 max-w-prose">
        Joseph Martinez has been giving workshops and developing learning
        material for empathetic and Nonviolent Communication since 2015. He has
        given workshops and trainings to numerous organizations internationally
        both in person and online. His demeanor is best suited for companies,
        startups, and teams that are apprehensive of personal and leadership
        development programs in general and want a fresh approach. Joseph uses
        his experience as a full-stack software engineer to build the tools he
        uses in workshops and training programs.
      </div>
    </div>

    <div>
      <div>open source</div>
      <div>respect user privacy</div>
      <div>original</div>
    </div>
  </div>
</main>

<!-- 


    <div class="flex flex-col items-center text-negroni-300">
      <div class="text-md my-9 fonfont-semibold text-negroni-500">approach</div>

      <div class="grid grid-cols-3 gap-16">
        <div class="flex flex-col items-center">
          <div>open source</div>
          <div class="text-sm">
            All resources are free and open source. Coaches, trainers, leaders,
            anyone is free to use the material as they wish.
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div>respect users</div>
          <div class="text-sm">
            Tools built with deep respect for the user. Limit data collection.
            Respect privacy. Do not require account creation to use tools.
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div>original</div>
          <div class="text-sm">
            Fresh approach. No cliches and abstract concepts. No canned
            presentations. No BS. High expectations for real results.
          </div>
        </div>
      </div>

      <div class="mt-7">
        Please reach out if you have feedback or would like to collaborate:
      </div>
      <div>joseph.r.martinez@gmail.com</div> -->
