<main aria-labelledby="header" class="relative overflow-hidden" id="tools">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl py-8 lg:py-14 lg:px-36 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-24 md:grid-cols-2 lg:grid-cols-2"
    >
      <a href="./selfempathyapp">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./public/selfempathy.png"
          alt="self empathy app"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              Self-compassion with NVC process
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-negroni-300">
              self-empathy app
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://josephrmartinez.github.io/reactionsjournal/"
        target="_blank"
      >
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./public/hr.png"
          alt="habitual reactions app"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              Break out of conversation on autopilot
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-negroni-300">
              Habitual Reactions Journal
            </p>
          </div>
        </div>
      </a>

      <a href="https://dovalues.app/" target="_blank">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./public/dovalues.png"
          alt="do values app"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              Shift from a project- to values-based mindset
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-negroni-300">
              Do Values
            </p>
          </div>
        </div>
      </a>

      <a href="https://nineideas.net/" target="_blank">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./public/nineideas.png"
          alt="nine ideas app"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">Develop ideas every day.</h3>
            <p class="mt-1 text-lg font-medium leading-6 text-negroni-300">
              nineideas
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>

<!-- 
<figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src=
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                develop control over conversation defaults
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Habitual Reactions Journal
            </p>
          </div>
          <p class="text-base text-tomato-500">listening</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src=
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Do Values
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Developer
            </p>
          </div>
          <p class="text-base text-tomato-500">$35</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src=
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                nineideas
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Designer
            </p>
          </div>
          <p class="text-base text-tomato-500">$35</p>
        </div>
      </figure> -->
