<main aria-labelledby="header" class="relative overflow-hidden" id="tools">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl py-8 lg:py-14 lg:px-36 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-6 md:grid-cols-2 lg:grid-cols-2"
    >
      <a href="./selfempathyapp">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./selfempathy.webp"
          alt="self empathy app"
          width="1310"
          height="873"
        />
        <div class="mt-4 mb-6 flex justify-between px-6">
          <div>
            <h3 class="text-xs tracking-wide text-negroni-400">
              SELF-COMPASSION WITH NVC PROCESS
            </h3>
            <p
              class="mt-1 text-xl tracking-tight font-bold leading-6 text-negroni-500"
            >
              self-empathy app
            </p>
          </div>
        </div>
      </a>

      <a href="./reactionsjournal">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./hr.webp"
          alt="habitual reactions app"
          width="1310"
          height="873"
        />
        <div class="mt-4 mb-6 flex justify-between px-6">
          <div>
            <h3 class="text-xs tracking-wide text-negroni-400">
              MOVE BEYOND CONVERSATION DEFAULTS
            </h3>
            <p
              class="mt-1 text-xl tracking-tight font-bold leading-6 text-negroni-500"
            >
              habitual reactions journal
            </p>
          </div>
        </div>
      </a>

      <a href="./dovalues">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./dovalues.webp"
          alt="do values app"
          width="1310"
          height="873"
        />
        <div class="mt-4 mb-6 flex justify-between px-6">
          <div>
            <h3 class="text-xs tracking-wide text-negroni-400">
              DEVELOP A VALUES-BASED MINDSET
            </h3>
            <p
              class="mt-1 text-xl tracking-tight font-bold leading-6 text-negroni-500"
            >
              do values
            </p>
          </div>
        </div>
      </a>

      <a href="./nineideas">
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="./nineideas.webp"
          alt="nine ideas app"
          width="1310"
          height="873"
        />
        <div class="mt-4 mb-6 flex justify-between px-6">
          <div>
            <h3 class="text-xs tracking-wide text-negroni-400">
              PRACTICE ABUNDANT THINKING
            </h3>
            <p
              class="mt-1 text-xl tracking-tight font-bold leading-6 text-negroni-500"
            >
              nineideas
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>
